*{
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
 
   
}
body{
  overflow-x: hidden;
  background-color: #F3F5FA;
  font-family: "Open Sans", sans-serif;
}

.logo{
  width:120px;
  height: 80px;
}
.logoheader{
  width: 100px;
  height: 70px;
  margin-left: 38px;
}


.logodesign{
  width: 200px;
  height: 82px;
  background-color: #004085;
  transform: skewY(185deg);
}

.nav{
  position: absolute;
  top: 0;
background:transparent;
width: 100%;
z-index: 2;

}
.nav2{
  background-color: #004085;
}
.img-cover{
  width: 100%;
  height: 105vh;
 background-position: center;
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
}
.cover{
 
  top: 0;
 width: 100%;
 height: 99vh;
 
}
.offer{
  position: absolute;
  top: 42%;
  left: 17%;
  width: 64%;
  color: #ffffff;
  font-size: large;
  font-weight: 500;
}


.book{
  position: absolute;
  top: 88%;
  left: 44%;
  background-color:#004085;
}
.cta {
  background: linear-gradient(rgba(26 106 161 / 60%), rgba(12 60 76 / 95%)) , url("https://images.pexels.com/photos/2678418/pexels-photo-2678418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") fixed center center;
  background-size: cover;
  padding: 120px 0;
}
.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
.cta p {
  color: #fff;
}
.cta .cta-btn {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;

  text-decoration: none;
}


/* 
.cards{
  box-shadow: 10px 10px 40px black;
} */


@keyframes movewive{
  100%{transform: translateX(-2000px);}

}
@keyframes moveship{
  100%{transform:translateY(-5px) ;}
  50%{transform:translateY(0px) ;

  }
  0%{
    transform:translateY(-5px) ;
  }
}

.cardoffer {
  position: relative;
  height: auto;
  color: #000000;
 
}
.place-content{
  background-color: #0083fd;
  color: rgb(255, 255, 255);
  text-align: center;

}


.svg{
  width: 60px;
  height: 60px;
  fill: #a88657;
}
.svgs{
  background-image: url(https://images.pexels.com/photos/457881/pexels-photo-457881.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: 100% 80px;
  height: 100px;
  padding: 20px 0 20px 0;
}

.items {
  position: absolute;
  top:44px;
  left: 12%;
 
}
.title{
  position: absolute;
  top: 4px;
  left: 33%;
}
.svg2{
  width: 21%;
  height: 40%;
  fill: #D3C596;
  
}
.img-svgs{
  width: 427px;
  height: 453px;
}

.border-img{
  border: 10px solid white;
  height: 472px; 

}

.p-y-2 {
padding-top: 28px;
padding-bottom: 28px;
}
.p-y-3 {
padding-top: 45px;
padding-bottom: 45px;
}
.m-b-1 {
margin-bottom: 18px; 
}
.m-t-1 { 
margin-top: 18px;
}

.main_counter_area{
  
  background-size: cover;
  overflow: hidden;
}
.main_counter_area .main_counter_content .single_counter{
  background: #046dd6;
      color: #fff;
}
.main_counter_area .main_counter_content .single_counter i{
  font-size:36px;
}

/* BOOKING */

.search-form #search-form {
  background-color:#004085;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  padding: 35px 60px;
}

.search-form #search-form h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.search-form #search-form select {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  width: 100%;
  cursor: pointer;
}

.search-form #search-form option {
  background-color: #1ea0ad;
}

.search-form #search-form button {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 8px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.search-form #search-form button:hover {
  background-color: #fff;
  color: #22b3c1;
}

/*  ABOUT */
.about-i i{
  font-size: 50px;
  color: #ffdc12;
  height: 60px;
  width: 60px;
  line-height: 1;
  padding: 5px;
  transition: all ease-in-out 0.3s;

 }
 .image-team{
  width: 100%;
  height:  278px;
 }
 .team-content {
  background: #ffdc12;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  position: relative;
  bottom: 20px;
  text-align: center;
  }




  .h2 {
    color: #37517e;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 25px 0 50px;
  }
  .h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #ffdc12;
    left: 0;
    right: 0;
    bottom: -10px;
  }
  .carousel1 {
    width: 650px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .carousel1 .carousel-item {
    color: #999;
    font-size: 14px;
      text-align: center;
    overflow: hidden;
      min-height: 340px;
  }
  .carousel1 .carousel-item span {
    background-color: #eb7245;
  }
  .carousel1 .img-box {
    width: 145px;
    height: 145px;
    margin: 0 auto;
    border-radius: 50%;
  }
  .carousel1 .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
  }
  .carousel1 .testimonial {	
    padding: 30px 0 10px;
  }
  .carousel1 .overview {	
    text-align: center;
    padding-bottom: 5px;
  }
  .carousel1 .overview b {
    color: #333;
    font-size: 15px;
    text-transform: uppercase;
    display: block;	
    padding-bottom: 5px;
  }
  .carousel1 .star-rating i {
    font-size: 18px;
    color: #ffdc12;
  }
  .carousel1 .carousel-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffc107;
      text-shadow: none;
    top: 4px;
  }
  .carousel-control i {
    font-size: 20px;
    margin-right: 2px;
  }
  .carousel-control.left {
    left: auto;
    right: 40px;
  }
  .carousel-control.right i {
    margin-right: -2px;
  }
  .carousel1 .carousel-indicators {
    bottom: 15px;
  }
  .carousel-indicators li, .carousel-indicators li.active {
    width: 11px;
    height: 11px;
    margin: 1px 5px;
    border-radius: 50%;
  }
  .carousel-indicators li {	
    background: #e2e2e2;
    border-color: transparent;
  }
  .carousel-indicators li.active {
    border: none;
    background: #888;		
  }
  
.cards-team{
  background-color: #fff4e6;
}
/* LOGIN */

.form-control{
  height: 41px;
  background: #f2f2f2;
  box-shadow: none !important;
  border: none;
}
.form-control:focus{
  background: #e2e2e2;
}
  .form-control, .btn{        
      border-radius: 3px;
  }
.signup-form{
  width: 390px;
  margin: 30px auto;
}
.signup-form form{
  color: #999;
  border-radius: 3px;
    margin-bottom: 15px;
      background: #fff;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
.signup-form h2 {
  color: #333;
  font-weight: bold;
      margin-top: 0;
  }
  .signup-form hr {
      margin: 0 -30px 20px;
  }    
.signup-form .form-group{
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
  margin-top: 3px;
}
.signup-form .row div:first-child{
  padding-right: 10px;
}
.signup-form .row div:last-child{
  padding-left: 10px;
}
  .signup-form .btn{        
      font-size: 16px;
      font-weight: bold;
  background: #3598dc;
  border: none;
  min-width: 140px;
  }
.signup-form .btn:hover, .signup-form .btn:focus{
  background: #2389cd !important;
      outline: none;
}
  .signup-form a{
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover{
  text-decoration: none;
}
.signup-form form a{
  color: #3598dc;
  text-decoration: none;
}	
.signup-form form a:hover{
  text-decoration: underline;
}
  .signup-form .hint-text {
  padding-bottom: 15px;
  text-align: center;
  }
/* CONTACT */

.img-contact{
  width: 400px;
  height: 80vh;
}
.form-contact{
  width: 400px;
  padding: 20px;
  background-color:#004085;
  border-radius: 20px;
  box-shadow: 0px 0px 40px #a88657;
 
}
.form-login{
  position: relative;
  top: 21%;
  left: 33%;
  width: 400px;
  padding: 20px;
  background-color:#004085;
  border-radius: 20px;
  box-shadow: 0px 0px 40px #5786a8;
 
}
.cover-login{
  background-image: url(https://images.pexels.com/photos/1838680/pexels-photo-1838680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  width: 100%;
  height: 100vh;
}
/* reservation */

.enjoy{
  position: absolute;
  top: 22%;
  left: 35%;
 
  height: 399px;
  color: #ffffff;
  background-color: rgba(0,0,0,0.5);
}
.items-reserv{
  position: relative;
  height: 499px;
  width: 100%;
  background-image:url(https://images.pexels.com/photos/635512/pexels-photo-635512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size:100%;
  background-repeat: no-repeat;

}

  


.form-reserv{
  position: absolute;
  top: 55px;
  left: 24%;
 padding: 50px;
  height: auto;
  WIDTH: 48%;
  color: rgb(255, 255, 255);
  background-color:rgba(0, 38, 255, 0.5);
 
}
/* GESTION */

.form-update {
  position: relative;
  top: 13%;
  left: 25%;
  width: 496px;
  padding: 20px;
  height: 633px;
  background-color: #004085;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 40px #5786a8;
}

.cover-update{
  background-image: url(https://images.pexels.com/photos/1838680/pexels-photo-1838680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: 100% 135vh;
  width: 100%;
  height: 135vh;
}
/* DASHBORD */
 .dashbord-table a {
  list-style: none;
  text-decoration: none;
  color:#007bfe ;
  cursor: pointer;
 }



/* FOOTER */
.main-footer{
 
  bottom: 0;
  background-image:linear-gradient(rgba(8, 13, 76, 0.2),rgba(0,0,0,0.8)),url(https://smartdemowp.com/yacher/wp-content/uploads/2020/02/discover-bg-3.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
    color: #ffffff !important;
    width: 100%;
    height: 70vh;
   
}
.images{

  width: 460px;
}
